<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="switch.css">
      <link rel="stylesheet" href="popup.css">
  </head>
  <body>
      <div class="popup-container">
          <span class="title">
              <h1>PDGA Stats</h1>
          </span>
          <p>
              Enabled features: (note: this component is not currently working)
          </p>
          <div class="item">
              <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label>
              <span class="switch-label">Number of rounds</span>
          </div>

          <div class="item">
              <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label>
              <span class="switch-label">Avg round rating</span>
          </div>


      </div>
  </body>
</html>
